@use "./app.scss" as *;

.contactTitle {
  margin-top: 5rem;
  text-align: center;
}

.ContactForm {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 7rem;

  .labelContact,
  .inputContact,
  .textareaContact {
    border-radius: 1rem;
    margin: 0.5rem;
    padding: 1rem;
  }

  .labelContact {
    @each $property, $value in $glassmorphisme {
      #{$property}: $value;
    }
    color: $whiteColor;
    box-shadow: 0 0 5px;
  }

  .inputContact,
  .textareaContact {
    @each $property, $value in $modalGlassmorphism {
      #{$property}: $value;
    }
    border-style: none;
    color: $whiteColor;
    box-shadow: 0 0 5px;
  }

  .contactButton,
  .labelContact {
    text-align: center;
    width: 5rem;
    height: 1.7rem;
    margin: 0.5rem;
    padding: 0.3rem;
    justify-self: center;
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 992px) {
  .ContactForm {
    margin-bottom: 11rem;
    .inputContact {
      width: 50rem;
      height: 3rem;
    }
    .textareaContact {
      width: 50rem;
    }
    .contactButton {
      width: 7rem;
      height: 2.5rem;
      font-size: 1.1rem;
    }
  }
}
