@use "./app.scss" as *;
.card {
  @each $property, $value in $glassmorphisme {
    #{$property}: $value;
  }
  display: grid;
  grid-template-columns: 35% 1fr;
  grid-template-rows: auto;
  margin: 5% 10% 2% 10%;
  padding: 0.5rem;
  color: $whiteColor;
  text-shadow: 0px 0px 5px gray;
  .destinationTitle {
    grid-column: 2/3;
    grid-row: 1/2;
    font-family: $headerFont;
    justify-self: center;
  }
  .truncate {
    margin-left: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  button {
    width: 5rem;
    grid-column: 2/3;
    grid-row: 3/4;
    margin: 0.5rem;
    padding: 0.3rem;
    justify-self: center;
  }
}

.cardImg {
  grid-column: 1/2;
  grid-row: 1/4;
  height: 6rem;
  object-fit: cover;
  margin-bottom: 0.5rem;
  background-color: $whiteColor;
  border-radius: inherit;
  justify-self: stretch;
  align-self: center;
}

.modal-overlay {
  background: #552d895e;
  border-radius: 16px;
  box-shadow: 0 4px 30px #0000001a;
  backdrop-filter: blur(4px);
  position: fixed;
  inset: 3rem 1rem 1rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  padding: 1.5rem;
  height: 90%;
}
.react-aria-Dialog {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    border-radius: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  .destinationTitle {
    font-family: $headerFont;
    margin-bottom: 2rem;
  }
  .truncate {
    text-shadow: $blackColor 0 0 5px;
    line-height: 1.4rem;
    font-size: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 25;
    -webkit-box-orient: vertical;
  }
  .closeButton {
    width: 5rem;
    margin-bottom: 1.2rem;
    padding: 0.3rem;
  }
}

@media screen and (min-width: 992px) {
  .card {
    .destinationTitle {
      justify-self: center;
      font-size: 2rem;
      align-self: center;
    }
    .truncate {
      margin-left: 2rem;
      margin-right: 2rem;
      font-size: 1.5rem;
      align-self: center;
    }
    button {
      padding: 0.3rem;
      justify-self: center;
      align-self: center;
      height: 3rem;
      width: 10rem;
      font-size: 1.2rem;
    }
  }

  .cardImg {
    height: 20rem;
    margin-bottom: 0rem;
    align-self: center;
  }
  .react-aria-Dialog {
    .truncate {
      text-shadow: $blackColor 0 0 5px;
      line-height: 1.4rem;
      font-size: 1rem;
      margin-bottom: 1.5rem;
      padding-left: 3rem;
      padding-right: 3rem;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 14;
      -webkit-box-orient: vertical;
    }
    .closeButton {
      width: 5rem;
      margin-bottom: 1.5rem;
      padding: 0.3rem;
    }
  }
}
