$whiteColor: #fff8f0;
$bodyFont: "Varela Round", sans-serif;

.dropDownRoundTripLabel {
  margin: 0.1rem 0rem 0.1rem 0.1rem;
  padding: 0.4rem 0rem 0.4rem 0.6rem;
  background-color: $whiteColor;
  font-family: $bodyFont;
  border-radius: 2rem 0rem 0rem 2rem;
}
.dropDownRoundTripSelect {
  margin: 0.1rem 0.1rem 0.1rem 0rem;
  padding: 0.4rem 0rem 0.4rem 0.5rem;
  background-color: $whiteColor;
  font-family: $bodyFont;
  border-radius: 0rem 2rem 2rem 0rem;
  border: none;
}
