@use "./app.scss" as *;

footer {
  background: rgba(2, 64, 146, 0.2);
  backdrop-filter: blur(10px);
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin-top: 3rem;
  padding-top: 1rem;
  gap: 1rem;

  .contactButton {
    text-decoration: none;
    background-color: $primaryColor;
    text-align: center;
    align-content: center;
    border-radius: 2rem;
    width: 7rem;
    height: 1.7rem;
    font-size: 0.8rem;
    transition: all ease-in-out 0.3s;
    box-shadow: 0 0 0.5rem #a05cf9;
    grid-column: 2/3;
    justify-self: center;
  }
  .contactButton:hover {
    background-color: $primaryHover;
  }

  a {
    img {
      width: 1.5rem;
    }
  }

  .discordLink {
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: right;
    align-self: center;
  }
  .slackLink {
    grid-column: 3/4;
    grid-row: 1/2;
    justify-self: left;
    align-self: center;
  }

  p {
    font-size: 0.3rem;
    opacity: 50%;
    text-align: center;
    margin: 0rem 1rem 0.5rem 1rem;
    grid-column: 1/4;
    grid-row: 2/3;
  }
}

@media screen and (min-width: 992px) {
  footer {
    grid-template-columns: repeat(3, 1fr);
    .contactButton {
      font-size: 1.1rem;
      width: 9rem;
      height: 2.5rem;
      transition: all ease-in-out 0.3s;
      grid-column: 2/3;
      justify-self: center;
    }
    .discordLink {
      justify-self: right;
      grid-column: 1/2;
    }
    .slackLink {
      grid-column: 3/4;
      justify-self: left;
      padding-right: 1rem;
    }
    p {
      font-size: 0.7rem;
      grid-column: 1/4;
    }
    a {
      img {
        width: 2rem;
      }
    }
  }
}
