@use "./app.scss" as *;
.JourneyDetails {
  @each $property, $value in $glassmorphisme {
    #{$property}: $value;
  }
  margin: 3rem;
  padding: 1rem;
  line-height: 2rem;

  h2 {
    display: flex;
    justify-content: center;
  }

  h3 {
    display: inline-block;
  }
  article {
    padding-left: 2.5rem;
  }
  article:last-of-type {
    margin-top: 2.5rem;
  }

  a {
    display: inline block;
    float: right;
  }

  button {
    margin: auto;
    width: 10rem;
  }
}

.displayNone {
  display: none;
}

.modal-overlay {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0240921a;
  backdrop-filter: blur(10px);
}

.react-aria-Dialog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  p,
  img {
    display: flex;
    justify-content: center;
    border-radius: 2rem;
  }
}

.scan {
  visibility: hidden;
  position: relative;
}

.scan:after {
  visibility: visible;
  position: absolute;
  content: "Scan completed !";
  animation: change-text 5s linear;
}

@keyframes change-text {
  0% {
    content: "Come closer to the camera";
  }
  33% {
    content: "Retinal scan in progress...";
  }
  66% {
    content: "Scan almost finished...";
  }
  99% {
    content: "Scan completed !";
  }
}

.ticketLink {
  box-shadow: 0 0 10px $unavailableButtonColor;
  background-color: $unavailableButtonColor;
  width: 7rem;
  transition:
    background-color 1s,
    transform 1s;
  animation: button-animation 2s ease 4s infinite;
  border-radius: 2rem;
  font-size: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: center;
}

@keyframes button-animation {
  0% {
    transform: scale(1);
    background-color: $primaryColor;
  }
  50% {
    transform: scale(1.2);
    background-color: $primaryColor;
  }
  100% {
    transform: scale(1);
    background-color: $primaryColor;
  }
}

@media screen and (min-width: 992px) {
  .JourneyDetails {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 2rem 15rem;

    h2 {
      grid-column: 1/3;
    }
    article {
      grid-row: 2/3;
    }

    article:last-of-type {
      margin-top: 0rem;
    }

    button {
      grid-column: 1/3;
      grid-row: 3/4;
      align-self: center;
      width: 12rem;
    }
  }
}
