.logo {
  width: 2rem;
  position: absolute;
  left: 0.8rem;
  top: 0.6rem;
  z-index: 999999;
}

nav {
  gap: 0.3rem;
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 9999;
  right: 0;
  overflow-x: hidden;

  .burgerMenu {
    position: absolute;
    z-index: 99999;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    margin-top: 1rem;
    background-color: transparent;
    height: auto;
    width: auto;
    border-style: none;
    align-self: flex-end;
    margin-right: 1rem;

    img {
      width: 3rem;
      height: 0.25rem;
    }
  }
}

.menu {
  width: 15rem;
  height: 100vh;
  background: rgba(2, 64, 146, 0.2);
  backdrop-filter: blur(10px);
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  li {
    list-style: none;
    text-align: center;
    margin-bottom: 2rem;
    text-decoration: none;

    a {
      text-decoration: none;
    }
  }
  li:first-of-type {
    margin-top: 5rem;
  }
}

.hidden {
  transform: translateX(15rem);
  transition: all ease-out 0.2s;
}

.visible {
  transform: translateX(0);
  display: inherit;
  transition: all ease-out 0.2s;
}

.burgerMenu {
  .burger-bar.clicked:nth-child(1) {
    transform: rotate(45deg) translate(0.15rem, 0.5rem);
    transition: ease-out 0.3s;
  }

  .burger-bar.clicked:nth-child(2) {
    transform: scale(0.1);
    transition: ease-out 0.3s;
  }

  .burger-bar.clicked:nth-child(3) {
    transform: rotate(-45deg) translate(0.15rem, -0.5rem);
    transition: ease-out 0.3s;
  }
}
.burgerMenu {
  .burger-bar.unclicked {
    transform: rotate(0) translate(0);
    transition: ease-out 0.3s;
  }
}

@media screen and (min-width: 992px) {
  nav {
    .burgerMenu {
      display: none;
    }
  }
  .hidden {
    transform: translateX(0rem);
  }
  .menu {
    width: 100vw;
    height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 4rem;
    position: fixed;
    top: 0rem;
    right: 0;
    li {
      text-align: center;
      text-decoration: none;
      margin-top: 1.3rem;

      a {
        text-decoration: none;
      }
    }
    li:first-of-type {
      margin-top: 1.3rem;
    }
    li:last-of-type {
      margin-right: 2rem;
    }

    a {
    }
  }
  .logo {
    width: 2.5rem;
    position: fixed;
    left: 0.8rem;
    top: 0.6rem;
  }
}
