@use "./app.scss" as *;

.mainOurDestination {
  @each $property, $value in $glassmorphisme {
    #{$property}: $value;
  }
}
.ourDestinationTitle {
  text-align: center;
  padding: 2rem;
}

@media screen and (min-width: 992px) {
  .ourDestinationTitle {
    margin-top: 4rem;
  }
}
