@use "./app.scss" as *;

form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  margin-top: 5rem;
  padding: 0 3rem;
  .reservationButton {
    background-color: $primaryColor;
    box-shadow: 0 0 10px #ac76f2;
    text-decoration: none;
    font-family: $bodyFont;
    border-radius: 2rem;
    height: 1.8rem;
    font-size: 0.8rem;
    width: 6rem;
    grid-column: 1/3;
    justify-self: center;
  }
}

@media screen and (min-width: 992px) {
  form {
    grid-template-columns: repeat(4, 1fr);
    .reservationButton {
      font-size: 1.1rem;
      width: 10rem;
      height: 2.5rem;
      margin-top: 1rem;
      margin-right: 1rem;
      justify-self: center;
      grid-column: 2/4;
      transition: all ease-in-out 0.3s;
    }
    .reservationButton:hover {
      background-color: $primaryHover;
    }
  }
}
