.main {
    background-color: purple;
  }
  .cards {
    display: flex;
    width: 100dvw;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .background {
    width: 98.7dvw;
    height: 60dvh;
  }
  .card {
    padding: 4rem;
    border: 2px solid white;
    border-radius: 40px;
    background-color: rgb(134, 99, 134);
    width: 30dvw;
    margin: 3rem;
    color: white;
  }
  
  .card:hover {
    background-color: rgb(18, 13, 18);
    cursor: pointer;
  }